


.portfolio__item{
    border-radius: 20px;
    box-shadow: 1px 0px 12px  #9e9e9e;
    margin: 10px;
    
    

    
}





.c-img{
    border-radius: 20px;
    width: 300;
    height: 300;
}



.button{
    margin: 10px;
}
